a {
    color: #525252;
}

a:hover {
    color: #808080;
}

#header #logo h3 {
    font-size: 10rem;
}

.modular .showcase h5 {
    margin-bottom: 0;
}

.callout h5 {
    text-align: center;
}

#header.scrolled #navbar a {
    color: #000 !important;
}

#header.scrolled #navbar a:hover {
    color: #808080 !important;
}

#header.scrolled #navbar a:before, #header.scrolled #navbar a:after {
    background-color: #000 !important;
}